[Unit]
Description=MJPG Streamer service for /dev/%i
BindsTo=dev-%i.device
After=dev-%i.device network-online.target 

[Service]
Type=simple
ExecStart=/usr/bin/mjpg_streamer -i 'input_uvc.so -d /dev/%I' -o 'output_http.so -w /usr/share/mjpg_streamer/www'
User=mjpg_streamer
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
